body {
    background-color: #f7f5b9;
}

.bar {
    text-align: center;
    background-color: #d9edf7;
    border: 1px solid #a2aef7;
    margin-bottom: 20px;
}

.refresh{
    width:100%;
}

.pending{
    margin-bottom: 20px;
    text-align: center;
}

.status{
    width:400px;
    float: left;
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.home{
    float:right;
    width:100px;
    margin-top: 30px;
    margin-right: 30px;
}

li {
    cursor: pointer;
}

li:hover{
    color: #ff714f;
    font-weight: bold;
}


.wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.gameboard {
    height: 418px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.shipContainer{
    top: 10px;
    display: block;
    width: 150px;
    background-color: #d9edf7;
    border: 1px solid #a2aef7;
    border-radius: 10px;
    float: left;
    padding: 5px 5px 5px 0px;
}

.board1 {
    background-color: #a2aef7;
    float: left;
    height: 418px;
    width: 418px;
    border-radius: 3px;
}

.board2 {
    background-color: #f79e7d;
    position: relative;
    float: right;
    height: 418px;
    width: 418px;
    border-radius: 3px;
}

.cell{
    border:1px solid black;
    height:40px;
    width:40px;
    position:absolute;
}
.off{
    background-color: lightblue;
}
.checked{
    background-color: transparent;
}
.splashed{
    background-color: transparent;
}
.hit{
    background-color: darkred;
}
.boat{
    background-color: grey;
}
.tempBoat{
    background-color: lightgrey;
}

